html {
  font-family: 'Helvetica';
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.big-button {
  display: block;
  margin: 10px;
  height: 200px;
  width: 300px;
}

/* Modal */

.modal-overlay {
  background-color: red !important;
}

.modal-close {
  cursor: pointer;
}

.modal-close-icon {
  color: #AAA;
}

.modal-close-icon:hover {
  color: #666;
}

.modal-close-icon::before {
  content: '\2715';
  font-size: 20px;
}

.simple-modal {
  background-color: white;
  display: none;
  padding: 50px;
}

.modal {
  background-color: white;
  padding: 20px;
  width: 500px;
}

.modal-no, .modal-yes {
  float: right;
  padding: 5px;
}

.modal-no {
  margin-left: 10px;
}

.modal-content {
  margin-bottom: 20px;
}

.modal[data-role="notification"][data-level="info"] {
  background-color: #DBFFFE;
}
